div {
    display: block;
    padding: 10px;
    margin: 10px;
}

span, a, p {
    display: block;
    font-family: 'Actor', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 2em;
}

img {
    width: 200px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 12px;
}

#text-div {
    background-color: white;
    border-radius: 12px;
}

#sketch-holder {
    background-color: white;
    border-radius: 12px;
}